.slideIn {
  animation: slideIn 1s;
  animation-fill-mode: forwards;
}
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
.slideOut {
  animation: slideOut 1s;
}
@keyframes slideOut {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
.slideDisplay {
  position: absolute;
  top: 50%;
  line-height: 60px;
  color: #fff;
  left: 0;
  transform: translate(-100%, -50%);
  height: 60px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 6px 0 0 6px;
}
.slideDisplay:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
