.box {
  width: 100%;
  font-size: 16px;
  word-break: break-all;
  .title {
    width: 100%;
    margin: 12px 0;
  }
  .title::after {
    content: '：';
  }
  .content {
    width: 100%;
    background-color: #eef1f6;
    padding: 8px 24px;
    margin-bottom: 20px;
    border-radius: 2px;
    display: block;
    line-height: 32px;
    .code {
      font-size: 14px;
      white-space: pre-wrap;
    }
  }
}
