body {
  overflow: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.table .ant-table-body {
  background: white;
  overflow-x: auto !important;
}

.table .ant-table-title,
.table .ant-table th,
.table .ant-table td {
  white-space: nowrap;
}
.LowSmallForm .ant-form-item {
  margin: 0 0 10px;
}
.LowSmallForm .ant-legacy-form-item {
  margin: 0 0 10px;
}

ul,
ol {
  list-style: none;
}

:global(.ant-table-row) {
  &.selected {
    background: #e6f7ff;
  }
}

:global(.ant-layout) {
  position: relative;
  background-color: #f5f7fa !important;
}

:global(.ant-table-placeholder) {
  border-bottom: none !important;
}

:global(.ant-layout-header) {
  height: 40px !important;
  line-height: 40px !important;
}

:global .ant-menu-inline-collapsed > .ant-menu-item {
  left: -14px !important;
}

:global(.ant-input-affix-wrapper) {
  font-size: 18px !important;
}

:global(.react-contexify) {
  z-index: 999 !important;
}
.ant-table-tbody tr:nth-child(odd) {
  background: #f9f9f9;
}
.ant-table-tbody tr:nth-child(odd) .ant-table-cell-fix-right {
  background: #f9f9f9;
}

/* 修改table hover颜色 */
.hascssUrl
  .ant-table-tbody
  > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td {
  background-color: var(--TINT);
}

.nocssUrl
  .ant-table-tbody
  > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td {
  background-color: #e7f3ff;
}

.ant-table-thead > tr > th {
  font-weight: bold !important;
  height: 26px !important;
  line-height: 26px !important;
  background-color: #eeeeee !important;
  background: #eeeeee !important;
  color: #333333 !important;
}

.ant-table-small > .ant-table-content > .ant-table-body {
  margin: 0px !important;
  text-align: left !important;
}

.ant-table-small {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}
.ant-table.ant-table-small .ant-table-footer,
.ant-table.ant-table-small .ant-table-tbody > tr > td,
.ant-table.ant-table-small .ant-table-title,
.ant-table.ant-table-small tfoot > tr > td,
.ant-table.ant-table-small tfoot > tr > th {
  padding-top: 3px;
  padding-bottom: 3px;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}
*::-webkit-scrollbar-button {
  background: #74d334;
  display: none;
}

*::-webkit-scrollbar-track {
  background: #ff66d5;
  display: none;
}
*::-webkit-scrollbar-track-piece {
  background: transparent;
}
*:hover::-webkit-scrollbar {
  width: 6px;
  height: 8px;
  border-radius: 4px;
}
*::-webkit-scrollbar-thumb {
  background: #d1d3d8;
  border-radius: 4px;
}
*::-webkit-scrollbar-corner {
  background: #82afff;
}
*::-webkit-scrollbar-resizer {
  background: #ff0bee;
}
* {
  scrollbar-arrow-color: #f4ae21;
  scrollbar-face-color: #333;
  scrollbar-3dlight-color: #666;
  scrollbar-highlight-color: #666;
  scrollbar-shadow-color: #999;
  scrollbar-darkshadow-color: #666;
  scrollbar-track-color: #666;
  scrollbar-base-color: #f8f8f8;
}

.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > tbody
  > tr
  > td,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > tfoot
  > tr
  > td,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > tfoot
  > tr
  > th,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > thead
  > tr
  > th,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > tbody
  > tr
  > td,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > tfoot
  > tr
  > td,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > tfoot
  > tr
  > th,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > thead
  > tr
  > th,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table
  > tbody
  > tr
  > td,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table
  > tfoot
  > tr
  > td,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table
  > tfoot
  > tr
  > th,
.ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table
  > thead
  > tr
  > th {
  border: 1px solid #ebf1f7;
}
